*{
    /* border: 1px solid yellow; */
    margin: 0;
    padding: 0;
}
.hero{
    background-image:linear-gradient( to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(./images/image-hero.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    /* margin: 0; */
    height: 550px;
}
.hero nav .links{
    align-items: center;
    justify-content: space-around;
    margin-top: 60px;
    margin-left: 500px;
}
.hero nav .links a{
    margin-right: 20px;
    padding-bottom: 8px;
    position: relative;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
}
.hero nav .links a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: white; 
    height: 3px ;
    width: 0;
}
.hero nav .links a:hover::after{
    transition: 0.5s;
    width: 100%;
}
.hero nav{
    color: white;
    display: flex;
}
.hero nav h1{
    font-size: 35px;
    margin: 50px;
    margin-left: 120px;
    font-family: 'Josefin Sans', sans-serif;
}
.hero .p1{
    padding-top:30px;
    padding-left: 30px;
    padding-bottom: 30px;
    color: white;
    border: 1px solid white;
    font-family:'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 50px;
    max-width: 400px;
    margin-left: 150px;
    margin-top: 50px;
}
.section section{
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    position: relative;
    width: 80%;
    margin-left: 10%;
}
.section section img{
    width: 700px;
    height: 450px;
    
}
.section section .writing{
    justify-content: center;
    align-items: center;
    width: 35%;
    background-color: white;
    position: absolute;
    padding: 10px 20px;
    left: 55%;
    top:225px;
}
.section section .writing h1{
    color:  rgb(47, 36, 36);
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    font-size: 35px;
}
.section section .writing p{
    color: grey;
}    
/* }
.section section .writing:hover{
    transition: 0.5s;
    width: 35%;
    background-color: white;
} */
.section1{
    position: ;
}
.section1 section{
    position: relative;
} 
.section1 section .flexbox{
    margin-left: 10%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    gap: 30px;
}
.section1 section .flexbox div p{
    position: relative;
    font-family: 'Open Sans', sans-serif;
    opacity: 90%;
    margin-top: 270px;
    margin-left: 30px;
    font-size: 30px;
}
.section1 section .flexbox div:hover{
    opacity: 80%;
}
.section1 section .flexbox div{
    width: 230px;
    height: 350px ;     
}
.i1{
    position: relative;
    color: white;
    background: url(./images/image-deep-earth.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.i2{
    position: relative;
    color: white;
    background: url(./images/image-night-arcade.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.i3{
    position: relative;
    color: white;
    background: url(./images/image-soccer-team.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.i4{
    position: relative;
    color: white;
    background: url(./images/image-grid.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.i5{
    position: relative;
    color: white;
    background: url(./images/image-from-above.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.i6{
    position: relative;
    color: white;
    background: url(./images/image-pocket-borealis.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.i7{
    position: relative;
    color: white;
    background: url(./images/image-curiosity.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.i8{
    position: relative;
    color: white;
    background: url(./images/image-fisheye.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#footer footer{
    background-color: black;
    color: white;
    margin-top: 70px;
    padding-left: 75px;
}
#footer footer p{
    font-size: 25px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    padding-top: 20px;
}
#footer footer .link2 a{
    padding-bottom: 8px;
    position: relative;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
}
#footer footer .link2{
    margin-top: 20px;
    padding-bottom: 20px;
    font-family: 'Josefin Sans', sans-serif;
}
#footer footer .link2 a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: white; 
    height: 3px ;
    width: 0;
}
#footer footer .link2 a:hover::after{
    width: 100%;
}
.nav2{
    margin-left: 10%;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    display: flex;
    margin-bottom: 150px;
}
.nav2 p{
    font-size: 35px;
    font-weight: 100;
    font-family: 'Josefin Sans', sans-serif;
    opacity: 95%;
}
.nav2 button{
    padding: 10px 50px;
    background-color: white;
    border: 1px solid gray;
}
.nav2 button:hover{
    background-color: black;
    color:white;
}